:root {
  --font-family: "Onest", sans-serif;
  --font-family-secondary: "Akrobat", sans-serif;
  --main-offset: 7.2rem;
}

.preloader {
  background: #090807;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  -webkit-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
}

.preloader__logo {
  width: 280px;
}

.preloader__logo svg {
  width: 100%;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #090807;
}

.body {
  min-width: 320px;
}

.body.no-scroll {
  overflow: hidden;
}

.body.loaded .preloader {
  padding-right: 0;
  visibility: hidden;
  opacity: 0;
}

.body._is-ios .intro:before {
  background: #fa8828;
  border-radius: 157.0206rem;
  content: "";
  -webkit-filter: blur(287.299987793px);
  filter: blur(287.299987793px);
  height: 157.0206rem;
  left: 50%;
  position: absolute;
  top: -31.6rem;
  -webkit-transform: translate3d(-50%, 0, 0) rotate(87.93deg);
  transform: translate3d(-50%, 0, 0) rotate(87.93deg);
  width: 35.4419rem;
}

.promo-page {
  font-size: 2rem;
  padding-top: var(--main-offset);
  word-break: break-word;
}

.promo-page picture {
  position: static;
}

.promo-page img,
.promo-page svg {
  display: block;
  max-width: 100%;
}

.promo-page h1,
.promo-page .h1,
.promo-page h2,
.promo-page .h2,
.promo-page h3,
.promo-page .h3,
.promo-page h4,
.promo-page .h4 {
  font-family: var(--font-family-secondary);
  font-weight: 900;
  text-transform: uppercase;
}

.promo-page h1,
.promo-page .h1,
.promo-page h2,
.promo-page .h2 {
  font-size: 3.4rem;
  line-height: 94%;
}

.promo-page h3,
.promo-page .h3 {
  font-size: 2.4rem;
  line-height: 1.2;
}

.promo-page h4,
.promo-page .h4 {
  font-size: 2.2rem;
}

.promo-page .rte h1,
.promo-page .rte h2 {
  font-family: var(--font-family);
  font-weight: 500;
  text-transform: none;
}

.media-cover {
  display: block;
  position: relative;
  background: url(../img/svg/skeleton.svg) center/cover, no-repeat;
  overflow: hidden;
}

.media-cover img,
.media-cover video,
.media-cover iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.media-contain {
  display: block;
  position: relative;
  overflow: hidden;
}

.media-contain img,
.media-contain video,
.media-contain iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  margin: auto;
}

.section {
  margin-bottom: 6.2rem;
}

.sec-top {
  margin-bottom: 2rem;
}

.link-btn {
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.2rem;
}

.link-btn svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 2.4rem;
  width: 2.4rem;
}

.tippy {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../img/svg/tippy.svg) center/contain no-repeat;
  cursor: pointer;
}

.tippy__content {
  display: none;
}

.tippy-content {
  font-size: 1.4rem;
  color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 32rem;
  padding: 2rem;
  border-radius: 1.6rem;
  border: 1px solid #fff;
  background: #000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1rem, #000), color-stop(87.75%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000 1rem, rgba(0, 0, 0, 0) 87.75%);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  position: fixed;
  z-index: 1001;
  -webkit-transform: translate(1.5rem, -3rem);
  -ms-transform: translate(1.5rem, -3rem);
  transform: translate(1.5rem, -3rem);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
  transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
}

.tippy-content:before {
  content: "";
  position: absolute;
  width: 4.2rem;
  height: 2.3rem;
  top: 100%;
  margin-top: -0.5rem;
  right: 3.7rem;
  background: url(../img/svg/tail.svg) top right/contain no-repeat;
  mix-blend-mode: darken;
}

.tippy-content p {
  margin-bottom: 16px;
}

.tippy-content p:last-child {
  margin-bottom: 0;
}

.tippy-content.show {
  visibility: visible;
  opacity: 1;
}

.item-tippy {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-tippy .tippy {
  margin-left: 4px;
}

[data-animation=fadeUp] {
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
}

.fadeUp {
  -webkit-animation-name: fadeUp;
  animation-name: fadeUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

[data-animation=fadeRight] {
  opacity: 0;
  -webkit-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
}

.fadeRight {
  -webkit-animation-name: fadeRight;
  animation-name: fadeRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.swiper {
  min-width: 0;
  overflow: hidden;
  position: relative;
}

.swiper-fade,
.swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.swiper-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.swiper-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-slide {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.swiper-slide-active {
  z-index: 2;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.promo-header {
  width: 100%;
  position: absolute;
  top: 2rem;
  z-index: 500;
}

.promo-header .header__inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.promo-header .header__left {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.promo-header .header__nav {
  margin: 0 auto;
}

.promo-header .header__nav__inner {
  gap: 5rem;
}

.promo-header .header__social {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.promo-header .social-link {
  width: 5.6rem;
  height: 3.2rem;
}

.promo-header .social-link svg {
  width: 2.4rem !important;
  height: 2.4rem !important;
}

.promo-cities__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.4rem;
}

.item-tilt {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.item-tilt.show .item-tilt__images {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.item-tilt__images {
  position: relative;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform 1.2s cubic-bezier(0.5, 1.4, 0.64, 1);
  transition: -webkit-transform 1.2s cubic-bezier(0.5, 1.4, 0.64, 1);
  transition: transform 1.2s cubic-bezier(0.5, 1.4, 0.64, 1);
  transition: transform 1.2s cubic-bezier(0.5, 1.4, 0.64, 1), -webkit-transform 1.2s cubic-bezier(0.5, 1.4, 0.64, 1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
}

.item-tilt__images .media-cover {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1.6rem;
}

.item-tilt__images .media-cover:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.item-city {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.item-city .item-tippy {
  font-size: 1.6rem;
  position: absolute;
  bottom: 2rem;
  right: 1.5rem;
  max-width: calc(100% - 3rem);
}

.item-city__preview {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.item-city__images {
  margin-bottom: 1.6rem;
}

.item-city__images .media-cover {
  padding-top: 100%;
}

.item-city__images .media-cover::after {
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45.65%, rgba(0, 0, 0, 0)), to(#000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.65%, #000 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.item-city__main p {
  font-size: 1.6rem;
  color: #777;
  margin-top: 0.5rem;
}

.footer__inner {
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2rem;
}

.footer__copy,
.footer__dev {
  font-size: 1.4rem;
  color: #808080;
}

.footer__dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__dev a {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 1rem;
}

.footer__dev a:hover svg {
  fill: #fff;
}

.footer__dev svg {
  fill: #808080;
  width: 7rem;
  height: 2rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social .h2 {
  font-weight: 500;
  line-height: 1.2;
  text-transform: none;
  text-align: center;
}

.social__inner {
  display: grid;
  grid-template-columns: 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4rem;
}

.social__img {
  width: 100%;
  max-width: 31.2rem;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  margin: 0 auto;
}

.promo-intro .intro__wrapper,
.promo-intro .intro__inner {
  height: 100%;
}

.promo-intro .intro__wrapper {
  border-radius: 1.6rem;
}

.promo-intro .media-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.promo-intro .media-cover:after {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5.51%, #000), color-stop(87.75%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000 5.51%, rgba(0, 0, 0, 0) 87.75%);
  position: absolute;
  top: 0;
  left: 0;
}

.promo-intro .h1 {
  max-width: 400px;
}

.promo-intro .intro__inner {
  width: 100%;
  padding: 1rem;
  gap: 3rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 2;
  background: none;
}

.promo-intro__subtitle {
  text-align: right;
  margin-left: auto;
}

.promo-about .sec-top {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin-bottom: 2rem;
}

.promo-about .sec-top .h3 {
  max-width: 600px;
}

.promo-merch {
  overflow: hidden;
  padding-bottom: 6.2rem;
}

.promo-merch .swiper {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  overflow: visible;
}

.promo-merch .swiper-wrapper,
.promo-merch .swiper-slide {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.promo-merch .sec-top {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.promo-merch__item .media-cover {
  padding-top: 100%;
  border-radius: 1.6rem;
}

.promo-merch + .social {
  margin-top: 0 !important;
}

@media (min-width: 480px) {
  .promo-cities__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  :root {
    --main-offset: 11.9rem;
  }

  .preloader__logo {
    width: 330px;
  }

  .body._is-ios .intro:before {
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(87.93deg);
    transform: translate3d(-50%, -50%, 0) rotate(87.93deg);
  }

  .promo-page h1,
  .promo-page .h1 {
    font-size: 6.4rem;
  }

  .promo-page h2,
  .promo-page .h2 {
    font-size: 5.8rem;
  }

  .promo-page h3,
  .promo-page .h3 {
    font-size: 3.2rem;
  }

  .promo-page h4,
  .promo-page .h4 {
    font-size: 2.6rem;
  }

  .section {
    margin-bottom: 8.8rem;
  }

  .sec-top {
    margin-bottom: 3rem;
  }

  .tippy-content {
    font-size: 1.6rem;
    max-width: 50.5rem;
    padding: 3rem;
    border-radius: 2.6rem;
    -webkit-transform: translate(2rem, -5rem);
    -ms-transform: translate(2rem, -5rem);
    transform: translate(2rem, -5rem);
  }

  .tippy-content:before {
    width: 6.5rem;
    height: 3.7rem;
    right: 4.4rem;
  }

  .item-tippy .tippy {
    margin-left: 8px;
  }

  .promo-header {
    top: 4rem;
  }

  .promo-header .header__logo {
    width: 29.4rem;
  }

  .promo-header .social-link {
    width: 8rem;
    height: 4rem;
  }

  .promo-cities__items {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.6rem 1.6rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }

  .item-tilt__images .media-cover {
    border-radius: 2.6rem;
  }

  .item-city:nth-child(3),
  .item-city:nth-child(8) {
    grid-column-start: 1;
  }

  .item-city:nth-child(4) {
    grid-area: 1/3/2/4;
  }

  .item-city:nth-child(9) {
    grid-area: 3/3/4/4;
  }

  .item-city .item-tippy {
    font-size: 2.6rem;
    bottom: 2rem;
    right: 2rem;
    max-width: calc(100% - 4rem);
  }

  .item-city--large {
    grid-column-end: span 2;
  }

  .item-city--large .item-city__images .media-cover {
    padding-top: 73.93%;
  }

  .footer__inner {
    padding-bottom: 5.6rem;
  }

  .footer__copy,
  .footer__dev {
    font-size: 1.6rem;
  }

  .footer__dev svg {
    width: 8rem;
    height: 3rem;
  }

  .social__img {
    width: 31.2rem;
    max-width: 100%;
  }

  .promo-intro .intro__wrapper {
    border-radius: 2.6rem;
  }

  .promo-intro .intro__inner {
    padding: 1.5rem 2rem;
  }

  .promo-intro .h1 {
    max-width: 600px;
  }

  .promo-about__content {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }

  .promo-merch {
    padding-bottom: 8.8rem;
  }

  .promo-merch .sec-top {
    gap: 3rem;
  }

  .promo-merch .sec-top .rte {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }

  .promo-merch__item .media-cover {
    border-radius: 2.6rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --main-offset: 15.1rem;
  }

  .preloader {
    padding-right: 8px;
  }

  .promo-page h1,
  .promo-page .h1 {
    font-size: 8.6rem;
  }

  .section {
    margin-bottom: 13rem;
  }

  .tippy-content {
    font-size: 1.8rem;
    max-width: 56.2rem;
    padding: 3.4rem;
  }

  .tippy-content:before {
    width: 7.4rem;
    height: 4.2rem;
    right: 5rem;
  }

  .promo-header {
    top: 5.6rem;
  }

  .promo-cities__items {
    grid-template-columns: repeat(4, 1fr);
    gap: 3.4rem 2rem;
  }

  .item-tilt:hover .item-tilt__images {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .item-city:nth-child(3),
  .item-city:nth-child(8) {
    grid-column-start: auto;
  }

  .item-city:nth-child(4),
  .item-city:nth-child(9) {
    grid-area: auto;
  }

  .item-city--large .item-city__images .media-cover {
    padding-top: 72.6%;
  }

  .item-city__images {
    margin-bottom: 1.6rem;
  }

  .item-city__main p {
    font-size: 1.8rem;
  }

  .footer__copy,
  .footer__dev {
    font-size: 1.8rem;
  }

  .social__inner {
    gap: 6rem;
  }

  .social__img {
    width: 39.2rem;
  }

  .promo-intro .h1 {
    max-width: 75%;
  }

  .promo-about .sec-top {
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }

  .promo-about .sec-top .h3 {
    max-width: 640px;
  }

  .promo-about__content {
    margin-left: calc(33.3333333333% + 1rem);
  }

  .promo-merch {
    padding-bottom: 13rem;
  }

  .promo-merch .sec-top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }

  .promo-merch .sec-top .h2 {
    max-width: 480px;
  }
}

@media (min-width: 1640px) {
  .promo-page h1,
  .promo-page .h1 {
    font-size: 12rem;
  }

  .promo-page h2,
  .promo-page .h2 {
    font-size: 6.4rem;
  }

  .promo-page h3,
  .promo-page .h3 {
    font-size: 4.2rem;
  }

  .section {
    margin-bottom: 16rem;
  }

  .tippy-content {
    font-size: 2rem;
    max-width: 64.3rem;
    padding: 4rem;
    border-radius: 4.2rem;
    -webkit-transform: translate(3rem, -5.6rem);
    -ms-transform: translate(3rem, -5.6rem);
    transform: translate(3rem, -5.6rem);
  }

  .tippy-content:before {
    width: 8.5rem;
    height: 4.6rem;
    right: 6rem;
  }

  .promo-header .header__left {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    min-width: 51.5%;
  }

  .promo-header .header__nav {
    margin-right: 2rem;
  }

  .promo-header .header__nav__inner {
    gap: 6rem;
  }

  .promo-cities__items {
    gap: 4rem 2rem;
  }

  .item-tilt__images .media-cover {
    border-radius: 4.2rem;
  }

  .item-city .item-tippy {
    bottom: 3rem;
    right: 3rem;
    max-width: calc(100% - 6rem);
  }

  .item-city--large .item-city__images .media-cover {
    padding-top: 65.31%;
  }

  .item-city__main p {
    font-size: 2rem;
  }

  .footer__copy,
  .footer__dev {
    font-size: 2rem;
  }

  .social__inner {
    gap: 8rem;
  }

  .promo-intro .intro__wrapper {
    border-radius: 4.2rem;
  }

  .promo-intro .media-cover:after {
    opacity: 1;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #090807), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(90deg, #090807 0, rgba(0, 0, 0, 0));
  }

  .promo-about .sec-top .h3 {
    max-width: 840px;
  }

  .promo-merch {
    padding-bottom: 16rem;
  }

  .promo-merch__item .media-cover {
    border-radius: 4.2rem;
  }
}

@media (min-width: 1920px) {
  .section {
    margin-bottom: 21rem;
  }

  .promo-header {
    top: 4rem;
  }

  .promo-cities__items {
    grid-template-columns: repeat(4, 1fr);
  }

  .item-city--large .item-city__images .media-cover {
    padding-top: 73.93%;
  }

  .footer__copy,
  .footer__dev {
    font-size: 2.4rem;
  }

  .footer__dev svg {
    width: 10rem;
    height: 3.4rem;
  }

  .promo-about .sec-top .h3 {
    max-width: 70%;
  }

  .promo-merch {
    padding-bottom: 21rem;
  }

  .promo-merch .sec-top .h2 {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .header__right {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media (max-width: 359px) {
  .promo-page .container,
  .promo-header .container,
  .promo-footer .container {
    padding: 0 10px;
  }
}